[Unit]
Description=Pager Relais Forwarding Service
After=network-online.target
Wants=network-online.target

[Service]
User=pager_forwarding
Group=gpio
ExecStart=/usr/local/pager-forwarding/main
WorkingDirectory=/usr/local/pager-forwarding

[Install]
WantedBy=multi-user.target